version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "main"
    labels:
      - "nodejs"
    groups:
      aws-sdk:
        patterns:
          - "@aws-sdk/*"
      eslint:
        patterns:
          - "*eslint*"

  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "main"
    labels:
      - "rust"
    groups:
      aws-sdk:
        patterns:
          - "aws-config"
          - "aws-sdk*"

  - package-ecosystem: "gradle"
    directory: "/java"
    schedule:
      interval: "daily"
    target-branch: "main"
    labels:
      - "java"

  - package-ecosystem: "gomod"
    directories:
      - "/pulumi/**/*"
    schedule:
      interval: "daily"
    target-branch: "main"
    labels:
      - "go"

  - package-ecosystem: "terraform"
    directories:
      - "/terraform/**/*"
    schedule:
      interval: "daily"
    target-branch: "main"
    labels:
      - "terraform"
