.env

# AWS SAM
.aws-sam/

# Rust
target

# Node.js
node_modules
.pnpm-store
*.js
!jest.config.js
*.d.ts
dist/

# CDK asset staging directory
.cdk.staging
cdk.out

# terraform
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info

# Java

.gradle
build
