.env

# Rust
target

# Node.js
node_modules
*.js
!jest.config.js
*.d.ts

# CDK asset staging directory
.cdk.staging
cdk.out

# terraform
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
